node_modules/
.env
logs/
*.log
data/schemes/*.pdf
.DS_Store
.cache/
docs\client_secret_515460372089-vgsm525bskgiikc6k4mv8616kh9u87f6.apps.googleusercontent.com.json
docs\Neo4j-82717c8f-Created-2026-02-22.txt